<ion-header translucent>
  <ion-toolbar>
    <ion-title>Travel List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="travelList.length > 0"> 
    <ion-item *ngFor="let item of travelList; index as i">
      <ion-avatar slot="start">
        <img src="https://cdn1.vectorstock.com/i/1000x1000/15/85/location-icon-gps-marker-symbol-map-pin-icon-vector-28471585.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{item.dest}}</h2>
        <h3 style="font-weight:700">{{item.datetravel}} | <span style="color:green">{{item.status}}</span></h3> 
      </ion-label>
      <ion-button slot="end" shape="round" (click)="open_maps(item)">view  <ion-icon name="pin" slot="start"></ion-icon></ion-button> 
    </ion-item>   
  </ion-list>
  <ion-card *ngIf="travelList.length === 0">
    <ion-card-header> 
      <ion-card-title class="ion-text-center">Empty List</ion-card-title>
    </ion-card-header> 
  </ion-card>
  
</ion-content>