<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{new_destination?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Bell-512.png" />
    <ion-card-header>
      <ion-card-subtitle>{{new_destination?.title}}</ion-card-subtitle>
      <ion-card-title>{{new_destination?.createdAt | date: 'dd/MM/yyyy'}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{new_destination?.desc}}
    </ion-card-content>
  </ion-card>
</ion-content>
