 <ion-tabs> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="driver">
      <ion-icon name="car"></ion-icon>
      <ion-label>Driver</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Travel</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="report">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button id="cart-btn" tab="notification">
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="danger" id="cart-badge">{{notifCount}}</ion-badge> 
      <ion-label>Notification</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar> 
</ion-tabs>
