<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="driver">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Driver</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Travel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incident">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Incident</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="square"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>
  </ion-tab-bar> 
</ion-tabs>
